<div class="top">
    <h1>TOPpage</h1>
    <h2>これはSNS機能を作ったページです。</h2>
</div>
<div class="contents">
    <ul class="row">
        <li class="col-xs-12 col-md-3">
        </li>
        
        <li class="col-xs-12 col-md-6">
            <% @snss.each do |sns| %>
                <div class="row-A">
                    <div class="col-xs-2"><%= image_tag("default_profile_bigger.png", size: "70x70") %></div>
                    <div class="col-xs-8" onclick="location.href=('<%= snss_path(sns.id) %>');">
                        <p>チェビョンチャン<small><%= sns.updated_at %></small></p>
                        <p><%= sns.content %></p>
                    </div>
                    <div class="col-xs-2">
                        <p><%= link_to "edit", edit_snss_path(sns.id), class: "btn btn-default" %></p>
                        <p><%= link_to "delete", snss_path(sns.id), method: :delete, data: { confirm: 'delete on more check' }, class: "btn btn-default" %></p>
                    </div>
                </div>
            <% end %>
        </li>
        
        <li class="col-xs-12 col-md-3">
             
        </li>
    </ul>
</div>