<div class="content">
    <div class="imgbox"><%= image_tag("default_profile_bigger.png", size: "70x70") %></div>
    <div class="contentbox">
        <p>チェビョンチャン</p>
        <h2><%= @sns.content %></h2>
        <p><%= @sns.updated_at %></p>
    </div>
    <div class="accessbox">
        <p><%= link_to "edit", edit_snss_path(@sns.id) %></p>
        <p><%= link_to "delete", snss_path(@sns.id), method: :delete, data: { confirm: 'delete on more check' } %></p>
    </div>
</div>