<!DOCTYPE html>
<html>
  <head>
    <title>Tweeet</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header class="header">
    tweeet <%= link_to "Tweet", new_snss_path, class: "btn btn-info" %>
  </header>
  
  <body class="canter">
    <%= yield %>
  </body>
  
  <footer class="footer">
    Dive-into-code
  </footer>
</html>
